* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 70%;
    background-color: rgb(162, 162, 250);
}

aside {
    height: 100vh;
    width: calc(100% - 70%);
    background-color: rgb(241, 199, 157);
}

/* inside main */
.main-content {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

h1 {
    font-size: 2.4rem;
    padding-top: 50px;
    text-align: center;
    /* padding-left: 20px;
    padding-right: 20px; */
}

h2 {
    font-size: 1.4rem;
}

p {
    text-align: center;
    
}

.button {
    width: 250px;
    height: 60px;
    background-color: rgb(121, 228, 228);
    border-radius: 40px;
}

/*  inside aside */

aside {
    display: flex;
    flex-direction: column;
}

header {
    /* border: 2px solid red; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
   justify-content: space-between;
   align-items: center;

}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(247, 166, 180);
}


.aside-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 80px;
}

.form {
    width: 200px;
    height: 20px;
    background-color: white;
}

.button-square {
    width: 200px;
    height: 30px;
    background-color: rgb(121, 228, 228);
}



@media screen  and (max-width: 576px){
    .flex-container {
        flex-direction: column;
    }

    main {
        order: 2;
        width: 100%;
    }
    
    aside {
        order: 1;
        width: 100%;

    }

    .main-content {
        text-align: center;
        width: 100%;
        font-size: 8px;
        padding-right: 30px;
        padding-left: 30px;
        
    }

    .button {
        width: 150px;
        height: 40px;

    }

   
    
}

@media screen and (min-width: 577px) and (max-width: 930px){
    h1 {
        color: aquamarine;
    }
    .form {
        width: 200px;
        height: 20px;
        background-color: white;
    }
    
    .main-content {
        font-size: 12px;
        width: 350px;
        height: 400px;
    }

    .form {
        width: 150px;
        height: 20px;
        background-color: white;
    }

    .button-square {
        width: 150px;
        height: 30px;
        background-color: rgb(121, 228, 228);
    }
}

